@import "tailwindcss";
@import "tw-animate-css";
@import "./mdx.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme inline {
  --font-merriweather-sans: var(--font-merriweather-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-success: var(--success);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --breakpoint-mdlg: 56.8rem;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.216 0.049 267);

  --card: var(--background);
  --card-foreground: var(--foreground);

  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.55 0.21 291);
  --primary-foreground: oklch(0.982 0.007 257);

  --secondary: oklch(0.95 0 250);
  --secondary-foreground: oklch(0.28 0.043 263);

  --muted: oklch(0.942 0.006 277);
  --muted-foreground: oklch(0.51 0.017 260);

  --accent: var(--muted);
  --accent-foreground: var(--secondary-foreground);

  --destructive: oklch(0.67 0.22 26);
  --destructive-foreground: var(--primary-foreground);

  --border: oklch(0.916 0.012 260);
  --input: var(--border);
  --ring: var(--primary);

  --radius: 0.5rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.982 0.007 257);

  --card: var(--background);
  --card-foreground: var(--foreground);

  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --primary: oklch(0.5 0.21 291);
  --primary-foreground: var(--foreground);

  --secondary: oklch(0.2 0.011 277);
  --secondary-foreground: var(--foreground);

  --muted: var(--secondary);
  --muted-foreground: oklch(0.68 0.017 260);

  --accent: var(--secondary);
  --accent-foreground: var(--foreground);

  --destructive: oklch(0.42 0.14 26);
  --destructive-foreground: var(--foreground);

  --border: var(--secondary);
  --input: var(--secondary);
  --ring: var(--primary);
}

@layer base {
  * {
    @apply border-border;
  }
  ::selection {
    @apply bg-primary/80 text-primary-foreground;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply relative bg-background text-foreground overscroll-none font-merriweather-sans;
  }
  button {
    @apply cursor-pointer;
  }
}
